@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baumans', cursive;
}

/* * {
    outline: 1px solid #f00 !important;
  } */

body {
    background: black;
}

#wallpaper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.background {
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    position: relative;

    transition: all 0.5s ease;
    overflow: hidden;
}

.black {
    background: white;
    opacity: 1;
}

/* Styling for the loading and waiting screen. */

#loadscreen, #menuscreen, #lobby, #enter-name, #stats, #controls,
#song-select-single {
    width: 100%;
    height: 100vh;
    z-index: 0;

    background: black;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition: all 1s ease;
}

#loadscreen {
    z-index: 999;
    opacity: 1;
    flex-direction: column;
}

.waiting-text {
    position: relative;
    top: 30vh;
    color: #aaaaff;
    animation: load-2 2s ease forwards;
}

#loadscreen img {
    position: absolute;
    width: 45%;
    top: 30%;
    height: auto;
    transition: all 1s ease;
    opacity: 1;
}

#loadscreen #loading-text {
    position: absolute;
    left: 0%;
    z-index: 50;
    top: 38%;
    animation: slide-right 1s ease forwards;
}

#loadscreen #loading-arrow {
    left: -3%;
    width: 60%;
    z-Index: 51;
    opacity: 1;
    animation: slide-left 1s ease forwards;
}

#loadscreen #loading-bar {
    width: 60%;
    top: 59%;
    animation: load 2s ease forwards;
}

@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-38%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(75%);
    }
}

@keyframes load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes load-2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

#menuscreen {
    z-index: 998;
    flex-direction: column;
}

#menuscreen button {
    padding: 2% 5%;
    color: #9999ee;
    border: none;
    font-size: 2.5rem;
    text-shadow: 0px 0px 5px #333333;

    background: rgb(255,255,255,0);

    transition: all 0.5s ease;
    cursor: pointer;
}

#menuscreen button:hover {
    color: #40e0d0;
}

#menuscreen .game-types {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#menuscreen .game-types button {
    font-size: 4rem;
}

#menuscreen .extras {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menuscreen .extras button {
    width: 300px;
}

#controls {
    z-index: 0;
    opacity: 0;
}

#controls img {
    position: absolute;
    max-width: 70%;
    top: 15%;
    opacity: 0.8;
}

/** Singleplayer Song Selection */

#song-select-single {
    opacity: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

#song-select-single .songs {
    top: -5%;
    position: absolute;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    display: flex;
}

#left-card-single, #right-card-single, #middle-card-single {

    position: absolute;
    background : #444444;
    border-radius: 3px;
    z-index: 10;
    align-items: center;
    display: flex;
    cursor: pointer;

    transition: all 0.5s ease;

    font-size: 2rem;
    justify-content: center;
}

#left-card-single, #right-card-single, #middle-card-single {
    width: 800px;
    height: 450px;
    box-shadow: 0px 10px 30px black;
}

#left-card-single {
    transform: translateX(-15vw);
}

#right-card-single {
    transform: translateX(15vw);
}

#middle-card-single {
    transform: scale(1.2);

    z-index: 13;
}

#song-select-single .next-arrow {
    height: 50px;
    width: 50px;
    position: fixed;
    border-left: 7px solid #222222;
    border-top: 7px solid #222222;
    transition: all 0.3s ease;
    z-index: 12;
}

#left-button-single, #right-button-single {
    background: rgba(0,0,0,0.5);
    height: 500px;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 11;
    cursor: pointer;
}

#right-button-single {
    right: 0%;
}

#left-button-single {
    left: 0%;
}

#left-button-single .next-arrow{
    left: 5%;
    transform: rotate(-45deg);
}

#left-button-single:hover .next-arrow {
    border-left: 7px solid #aaaaff;
    border-top: 7px solid #aaaaff;
}

#right-button-single:hover .next-arrow {
    border-left: 7px solid #aaaaff;
    border-top: 7px solid #aaaaff;
}

#right-button-single .next-arrow {
    right: 5%;
    transform: rotate(135deg);
}

#song-select-single .extras button {
    padding: 2% 5%;
    color: #9999ee;
    border: none;
    font-size: 2.5rem;
    text-shadow: 0px 0px 5px #333333;

    background: rgb(255,255,255,0);

    transition: all 0.5s ease;
    cursor: pointer;
}

#song-select-single button:hover {
    color: #40e0d0;
}

#song-select-single .extras {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 72.5%;

}

#song-select-single .extras button {
    width: 300px;
}

#song-select-single #single-start {
    font-size: 5rem;
}

/** Enter Name Page for Multiplayer Games */

#enter-name {
    z-index: 0;
    opacity: 0;
    background: black;
}

#enter-name input {
    position: relative;
    width: 90%;
    height: 10vh;
    top: -10vh;
    color: #9999ee;
    background: black;
    border: none;
    font-size: 4rem;

    outline: none;
    text-align: center;
}

#enter-name #next {
    width: 15vw;
    height: 10vh;
    position: absolute;
    top: 60vh;
    color: #9999ee;

    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.3s ease;
    border-radius: 2px;
}

#enter-name #next:hover {
    color: #40e0d0;
}


#lobby {
    z-index: 0;
    opacity: 0;
}

#song-select, #player-list {
    position: relative;
    top: 5%;
    margin: 2%;
    width: 45%;
    height: 85%;

    display: flex;
    flex-direction: column;
}

#player-list {
    margin-right: 0;
    width: 50%;
    transition: all 2s ease;
}

.player {
    width: 95%;
    height: 20%;
    color: grey;
    position: relative;

    background: rgba(43, 43, 51, 0.5);
    border-radius: 3px;

    align-items: center;
    display: flex;
    cursor: pointer;
    margin: 10px 0px 10px 10px;
    margin-left: 5%;

    transition: all 1s ease;
    text-shadow: 2px 2px 5px black;
    transform: translateX(100%);
}

.player:hover {
    background: rgba(43, 43, 51, 0.7);
}

.player:hover span {
    color: #777777;
}

.player .container {
    margin-left: 3%;
    position: absolute;
}

.player span {
    position: absolute;
    color: #555555;
    font-size: 2rem;
    left: 50%;
    opacity: 0;

    transition: all 0.5s ease;
}

.player h1, .player h3 {
    margin: 7px 0;
}

.player h1 {
    font-size: 1.7rem;
    transition: all 0.5s ease;
}

#p1-ready, #p2-ready, #p3-ready, #p4-ready {
    color: rgb(135, 21, 21);
    transition: all 0.5s ease;
}

#p1-connected, #p2-connected, #p3-connected, #p4-connected {
    color: rgb(3, 153, 3);
    transition: all 0.5s ease;
}

.player .multi-combo {
    color: white;
    position: absolute;
    top: 60%;
    margin-left: 3%;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 1s ease;
}

.player .multi-score{
    color: white;
    position: absolute;
    top: 25%;
    right: 55%;
    font-size: 2.3rem;
    opacity: 0;
    transition: all 1s ease;
}

.current-player {
    text-emphasis: none;
    margin-left: 0;
    width: 100%;
    height: 25%;
    background: rgba(53, 53, 61, 0.7);
    transform: translateX(0%);
}

.current-player h1 {
    color: #9999ee;
    font-size: 2rem;
}

.current-player .multi-score {
    right: 53%;
}

.back {
    position: absolute;
    top: 2%;
    left: 2%;
    padding: 10px;
    color: #9999ee;

    font-size: 2rem;
    border: none;
    cursor: pointer;
    background: none;
    border: none;

    transition: all 0.5s ease;
    z-index: 999;
}

.back:hover {
    color: #30aaaa;
}

#game {
    width: 100%;
    height: 100vh;

    justify-content: center;
    display: flex;
    position: absolute;

    transition: all 1s ease;
}

#game .container {
    width: 425px;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#game .healthbar {
    position: absolute;
    margin-top: 10px;

    display: flex;
}

#game .healthbar img {
    width: 425px;
    height: auto;
    position: absolute;
}

#game .healthbar .health-frame {
    z-index: 10;
}

#game .healthbar #health, #game .healthbar #health-mask{
    margin-top: 4px;
    margin-left: 4px;
    width: 417px;
}

.healthbar #health-mask {
    z-index: 9;
    transform: translateX(3%);
    transition: all 1s ease;
}

.healthbar:hover #health-mask {
    transform: translateX(100%);
}

#gameboard {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0,0.4);
    border-top: 50px solid rgb(0,0,0,0.1);

    display: flex;
    overflow: hidden;
}

.arrow {
    width: 80px;
    height: 80px;
    margin: 2px;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrow img {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 950;
}

.glow {
    width: 45px;
    height: 45px;
    z-index: 965;
}

.white {
    opacity: 0;
    transition: all 0.1s ease;
    z-index: 970;
}

.mask {
    position: absolute;
    top: -15px;
    width: 80px;
    height: 65px;
    background: rgb(17, 32, 55);
    z-index: 960;
}

.move-up {
    animation: mask 8s linear forwards;
}

@keyframes mask {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-480vh);
    }
}

#mask-bottom-right, #mask-bottom-left {
    height: 90px;
}

#mask-middle {
    height: 85px;
}

#bottom-left {
    margin-left: 5px;
}

.moving {
    transition: transform 4s linear;
    position: absolute;
    bottom: 10px;
}

.default-arrow {
    opacity: 0.5;
}

.hold-top {
    top: 450px;
}

/* Game Menu */

.menu {
    display: flex;
    flex-direction: column;
}

.menu button {
    width: 100px;
    height: 40px;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px;
    right: 300px;
    background: #aaaaff;
    border: none;
    cursor: pointer;
}

#pop-up {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 990;
}

.text {
    position: relative;
}

#arrow-text {
    color: #aaaaff;
    font-size: 3rem;
    text-shadow: 0px 0px 10px black;
}

#combo-text {
    color: #aaaaaa;
    text-shadow: 0px 0px 5px black;
}

#combo-number {
    color: #dddddd;
    font-size: 3rem;
    text-shadow: 0px 0px 7px black;
}

.appear {
    animation: appear 0.4s linear;
}

@keyframes appear {
    0% {
        opacity: 0.7;
        transform: scale(0.9)    
    }
    20% {
        transform: scale(0.95);
        opacity: 1;
    }

    80% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scaleY(0.5) translateX(10vw);
    }
}

/* End Game Stats */

#stats {
    z-index: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;}

#stats .buttons {
    width: 100%;
    height: 10%;
    margin-top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
}

#stats .buttons button {
    height: 50%;

    font-size: 2.5rem;
    color: #30aaaa;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0px 5%;
    transition: all 0.3s ease;
}

#stats .buttons button:hover {
    color: #aaaaff;
}

#stats #grade {
    font-size: 25rem;
    text-emphasis: bold;
    margin-right: 5%;
    margin-left: 5%;
    color: #aaaaff;
    text-shadow: 5px 5px 30px #555555;
    
    animation: hover 5s infinite ease;
}

@keyframes hover {
    0% {
        transform: translateY(0px);
        text-shadow: 0px 0px 4px #aaaaff;
    }
    50% {
        transform: translateY(10px);
        text-shadow: 0px 0px 2px white;
    }

    100% {
        transform: translateY(0px);
        text-shadow: 0px 0px 4px #aaaaff;
    }
}

#stats .song-header {
    width: 85vw;
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: absolute;
    top: 5%;
    color: #aaaaaa;
}

#stats .song-header h1 {
    font-size: 5rem;
}

#stats .song-header  h3 {
    font-size: 3rem;
}

#stats .container {
    width: 75vw;
    height: 55vh;
    
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    position: absolute;
    top: 20%;
}

#stats .stat-info {
    height: 100%;
    width: 80%;
    margin: 50px 0;

    justify-content: center;
    display: flex;
    flex-direction: column;
    text-shadow: none;
}

#stats .stat-info h2 {
    width: 100%;
    font-size: 3rem;
    color: white;
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    border-radius: 2px;
    background: #444444;
    padding: 15px;
}

#stats .stat-info h3 {
    left: 5%;
    position: relative;
    width: 95%;
    color: white;
    font-size: 1.8rem;
    margin-top: 20px;
    padding: 10px;
    border-radius: 2px;
    justify-content: space-between;
    display: flex;
    background: #444444;
}

.perfect {
    color: #aaaaff;
}

.good {
    color: #40e0d0;
}

.okay {
    color: #ffb347;
}

.miss {
    color: #ff6961;
}

.combo {
    color: #aaaaaa;
}