@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Mega', sans-serif;
}

.background {
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    background: black;
    position: absolute;

    transition: all 0.5s ease;
}

.black {
    background: black;
    opacity: 1;
}

/* Styling for the loading and waiting screen. */

#loadscreen, #menuscreen, #lobby, #enter-name {
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: black;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition: all 1s ease;
}

.waiting-text {
    position: relative;
    top: 30vh;
    color: #aaaaff;
    animation: wait 2s infinite ease;
}

@keyframes wait {
    0% {
        transform: translateY(0px);
        text-shadow: 0px 0px 4px #aaaaff;
    }
    50% {
        transform: translateY(10px);
        text-shadow: 0px 0px 2px white;
    }

    100% {
        transform: translateY(0px);
        text-shadow: 0px 0px 4px #aaaaff;
    }
}

#menuscreen {
    z-index: 998;
}

#menuscreen button {
    width: 100%;
    height: 100%;
    color: #9999ee;
    border: none;
    font-size: 3rem;
    text-shadow: 0px 0px 5px #333333;

    background: rgb(255,255,255,0);

    transition: all 0.5s ease;
    cursor: pointer;
}

#menuscreen button:hover {
    background: rgb(255,255,255,0.1);
    color: #40e0d0;
}

#enter-name {
    z-index: 0;
    opacity: 0;
    background: black;
}

#enter-name input {
    position: relative;
    width: 50%;
    height: 10vh;
    top: -10vh;
    color: #9999ee;
    background: black;
    border: none;
    font-size: 4rem;

    outline: none;
    text-align: center;
}

#enter-name #next {
    width: 15vw;
    height: 10vh;
    position: absolute;
    top: 60vh;
    color: #9999ee;

    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.3s ease;
    border-radius: 2px;
}

#enter-name #next:hover {
    color: #40e0d0;
}


#lobby {
    z-index: 0;
}

#song-select, #player-list {
    position: relative;
    top: 5%;
    margin: 2%;
    width: 45%;
    height: 85%;

    display: flex;
    flex-direction: column;
}

.player {
    width: 100%;
    height: 20%;
    color: white;

    background: rgba(43, 43, 51, 0.5);
    border-radius: 5px;

    align-items: center;
    display: flex;
    cursor: pointer;
    margin: 10px;

    transition: all 0.5s ease;
}

.player:hover {
    background: rgba(43, 43, 51, 0.7);
}

.player:hover span {
    color: #777777;
}

.player .container {
    margin-left: 40px;
    position: absolute;
}

.player span {
    position: absolute;
    color: #555555;
    font-size: 2rem;
    left: 50%;

    transition: all 0.5s ease;
}

.player h1, .player h3 {
    margin: 10px 0;
}

.player h1 {
    color: #9999ee;
    font-size: 2rem;
}

.ready {
    color: rgb(135, 21, 21);
}

#p1-connected {
    color: rgb(3, 153, 3);
}

#p2-connected {
    color: rgb(135, 21, 21);
}

.back {
    position: absolute;
    top: 2%;
    left: 2%;
    padding: 10px;
    color: #9999ee;

    font-size: 2rem;
    border: none;
    cursor: pointer;
    background: none;
    border: none;

    transition: all 0.5s ease;
}

.back:hover {
    color: #40e0d0;
}

#game {
    width: 100%;
    height: 100vh;
    background: white;

    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    overflow: hidden;
}

#game .container {
    width: 425px;
    position: absolute;
}

/* .healthbar {
    position: relative;
    height: 40px;
    width: 100%;
    background: grey;

    margin-bottom: 10px;

    border-radius: 10px;
    border: 5px solid #333333;
}

.health {
    height: 100%;
    width: 0%;
    background: green;
    transition: all 0.3s ease;
}

.healthbar:hover .health {
    width: 100%;
} */

#gameboard {
    position: absolute;
    top: -40vh;
    height: 98vh;
    width: 100%;
    background: rgb(0,0,0,0.4);
    border-top: 10px solid rgb(0,0,0,0.1);

    display: flex;
    overflow: hidden;
}

.arrow {
    width: 80px;
    height: 80px;
    margin: 2px;
    transition: all 0.1s ease;
    box-shadow: none;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrow img {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 950;
}

.glow {
    width: 45px;
    height: 45px;
    z-index: 965;
}

.white {
    opacity: 0;
    transition: all 0.1s ease;
    z-index: 970;
}

.mask {
    position: absolute;
    top: -15px;
    width: 80px;
    height: 65px;
    background: rgb(17, 32, 55);
    z-index: 960;
}

.move-up {
    animation: mask 8s linear forwards;
}

@keyframes mask {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-480vh);
    }
}

#mask-bottom-right, #mask-bottom-left {
    height: 90px;
}

#mask-middle {
    height: 85px;
}

#bottom-left {
    margin-left: 5px;
}

.moving {
    transition: transform 4s linear;
    position: absolute;
    bottom: 10px;
}

.default-arrow {
    opacity: 0.5;
}

.hold-top {
    top: 450px;
}

/* Game Menu */

.menu {
    display: flex;
    flex-direction: column;
}

.menu button {
    width: 100px;
    height: 40px;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px;
    right: 300px;
    background: #aaaaff;
    border: none;
    cursor: pointer;
}

#pop-up {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 990;
}

.text {
    position: relative;
}

#arrow-text {
    color: #aaaaff;
    font-size: 3rem;
    text-shadow: 0px 0px 10px black;
}

#combo-text {
    color: #aaaaaa;
    text-shadow: 0px 0px 5px black;
}

#combo-number {
    color: #dddddd;
    font-size: 3rem;
    text-shadow: 0px 0px 7px black;
}

.appear {
    animation: appear 0.4s linear;
}

@keyframes appear {
    0% {
        opacity: 0.7;
        transform: scale(0.9)    
    }
    20% {
        transform: scale(0.95);
        opacity: 1;
    }

    80% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scaleY(0.5) translateX(10vw);
    }
}